flask==3.0.3
flask-restful==0.3.10
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.6.0
flask-migrate==4.0.7
flask-cors==4.0.1
psycopg2-binary==2.9.9
razorpay==1.4.1
algoliasearch==3.0.0
langchain==0.2.16
langchain-openai==0.1.23
langchain-google-genai==1.0.10
langchain-community==0.2.17
faiss-cpu==1.8.0
openai==1.40.0
python-dotenv==1.0.1
werkzeug==3.0.4
